html {
    box-sizing: border-box;
    /*background-color: #000000;*/
    font-size: 62.5%;
    /**Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
}


/********************** Globales *************************/

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.contenedor {
    width: 70%;
    margin: 0 auto;
}

@media(min-width: 768px) {
    .contenedor {
        width: 80%;
    }
}

@media(min-width: 1200px) {
    .contenedor {
        width: 95%;
    }
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

p {
    font-size: 2rem;
}

input {
    padding: 1rem;
    display: block;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 1rem;
    background-color: #93d2e5;
}

label {
    font-weight: 600;
    text-transform: uppercase;
}


/******************* Utilidades ********************/

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.dp-block {
    display: block !important;
}

.white {
    color: #ffffff;
}

.black {
    color: #000000
}

@media(min-width: 380px) {
    .contenido-centrado {
        max-width: 380px;
    }
}

@media(min-width: 768px) {
    .contenido-centrado {
        max-width: 700px;
    }
}

@media(min-width: 1200px) {
    .contenido-centrado {
        max-width: 800px;
    }
}

.centrar {
    display: flex;
    justify-content: center;
}

fieldset {
    width: 30rem;
}

.degradado {
    position: relative;
}

.degradado::after {
    content: '';
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/********************** Botones ****************************/

.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    display: inline-block;
    border-radius: 1rem;
    border: none;
}

.cursor:hover {
    cursor: pointer;
}

.boton-verde {
    background-color: rgb(16, 190, 30);
}

.boton-naranja {
    background-color: rgb(245, 148, 3);
    margin: 3rem 0;
}

.boton-azul {
    background-color: rgb(90, 33, 248);
    width: 100%;
    margin: 1rem 0;
}

.boton-enviar {
    margin-top: 2rem;
    margin-left: 0;
    height: 5.8rem;
    width: 5.8rem;
    background-color: #ffffff;
}


/*********************** Header ****************************/

.site-header.inicio {
    background-image: url(../img/portadaprincipal.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 106vh;
}

.contenido-header {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sinbarra {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.barra {
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

@media(min-width: 972px) {
    .barra {
        display: flex;
        padding: 1rem 2rem;
    }
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
}

.contenido-header p {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2rem;
}

.contenedor.portada {
    margin-bottom: 3rem
}

.barra.con {
    background-color: #020202c0;
}

.imglogo {
    max-width: 40rem;
    max-height: 20rem;
    width: 35rem;
    height: 4rem;
}

.responsive {
    max-width: 60%;
    margin: 0 auto;
}

.redes-sociales a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 2.1rem;
}

.redes-sociales a:hover {
    color: #2E64FE;
}

.redes-sociales a:last-of-type {
    margin: 0;
}


/****************** Navegacion Superior *******************/

.nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 2rem;
}

.nav a:hover {
    color: #2E64FE;
}

.nav a:last-of-type {
    margin: 0;
}


/********************** Busqueda *************************/

.buscador {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 2rem;
}

.icono-lupa {
    background-image: url(../img/busqueda-de-lupa.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #ffffff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/********************** Eventos **************************/

.imagen-social {
    background-image: url(../img/evento\ social.jpeg);
}

.imagen-cultural {
    background-image: url(../img/eventos\ culturales.jpg);
}

.imagen-negocio {
    background-image: url(../img/eventos\ negocios.jpg);
}

.imagen-ocio {
    background-image: url(../img/eventos\ ocio.jpg);
}

.p-evento {
    background-position: center center;
    background-size: cover;
    height: 30rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.tipo-evento {
    font-weight: 500;
    text-align: center;
    line-height: 10rem;
}

.text-evento {
    flex: 1;
    color: #ffffff;
    margin: 2rem;
    position: relative;
    z-index: 1;
}

.iconos-eventos {
    display: block;
    justify-content: space-between;
}

.imagen-eventos {
    text-align: center;
    border: 1px solid #151515;
    background-color: #c7c7c7fa;
    margin: 1rem 0;
}

@media(min-width: 768px) {
    .iconos-eventos {
        display: flex;
        flex-wrap: wrap;
    }
    .imagen-eventos {
        flex: 0 0 calc(50% - 1rem);
    }
}

@media(min-width: 1000px) {
    .imagen-eventos {
        flex: 0 0 calc(33.3% - 1rem);
    }
}

@media(min-width: 1200px) {
    .imagen-eventos {
        flex: 0 0 calc(25% - 1rem);
    }
}

.img-tamaño {
    padding-top: 1rem;
    width: 23rem;
    height: 30rem;
}

.contenido-evento {
    height: calc(100% - 30rem);
    text-align: left;
    padding: 2rem;
}

.contenido-evento h3 {
    text-align: center;
    margin: 0;
}

.ver-todos {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}


/************** Seccion Inferior **********************/

@media(min-width: 380px) {
    .seccion-inferior {
        display: block;
        justify-content: center center;
    }
}

@media(min-width: 768px) {
    .seccion-inferior {
        display: flex;
        justify-content: center center;
    }
}

@media(min-width: 1200px) {
    .seccion-inferior {
        display: flex;
        justify-content: center center;
    }
}


/******************** Blogs **********************/

.entrada-blog {
    display: flex;
    order: 0;
    flex-direction: column;
}

.poscision {
    order: -1;
}

@media(min-width: 380px) {
    .entrada-blog {
        display: flex;
        order: 0;
        flex-direction: column;
        justify-content: center;
        margin: 2rem;
    }
}

@media(min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: left;
        flex-direction: row;
        margin: 2rem;
    }
    .poscision {
        order: 1;
    }
}

@media(min-width: 1200px) {
    .entrada-blog {
        display: flex;
        justify-content: left;
        margin: 2rem;
    }
}

.imagen-blogs {
    margin: 0 auto;
    padding: 2rem;
    width: 25rem;
    height: 25rem;
    max-width: 30rem;
    max-height: 30rem;
}

.texto-blog h3 {
    margin: 0;
    line-height: 1.4;
}

.texto-blog a {
    text-decoration: none;
    color: rgb(112, 3, 202);
}

.texto-blog h3::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #2E64FE;
    margin-top: 10px;
}

.texto-blog span {
    color: #e08709;
}

.ver-todo-left {
    margin-left: 4rem;
}

.fotos-galeria {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 2.9rem;
}

.fotos-galeria p {
    flex: 0 0 calc(33.3% - 0.5rem);
}

.fotos-galeria img {
    width: 10rem;
    height: 10rem;
    max-width: 15rem;
    max-height: 15rem;
}

@media (min-width: 500px) {
    .fotos-galeria p {
        flex: 0 0 calc(25% - 0.5rem);
    }
}

@media (min-width: 600px) {
    .fotos-galeria p {
        flex: 0 0 calc(33.3% - 0.5rem);
    }
    .fotos-galeria img {
        width: 15rem;
        height: 15rem;
        max-width: 20rem;
        max-height: 20rem;
    }
}

@media (min-width: 685px) {
    .fotos-galeria p {
        flex: 0 0 calc(25% - 0.5rem);
    }
}

@media (min-width: 900px) {
    .fotos-galeria p {
        flex: 0 0 calc(25% - 0.5rem);
    }
    .fotos-galeria img {
        width: 20rem;
        height: 20rem;
        max-width: 25rem;
        max-height: 25rem;
    }
}

@media (min-width: 1150px) {
    .fotos-galeria p {
        flex: 0 0 calc(20% - 0.5rem);
    }
}


/********************** Testimoniales ******************/

.texto-testimoniales {
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;
    max-width: 90rem;
    margin: 1rem 0;
}

.texto-testimoniales p {
    text-align: right;
}

.texto-testimoniales blockquote {
    position: relative;
    padding-left: 1rem;
}

.texto-testimoniales blockquote::before {
    content: '';
    background-image: url(../img/comillas1.png);
    background-size: cover;
    height: 4rem;
    width: 4rem;
    top: -3rem;
    left: -3.5rem;
    display: block;
    position: absolute;
}


/******************* Navegacion Inferior*******************/

.site-footer {
    background-color: #353333;
    margin-top: 2rem;
    text-align: center
}

.contenedor-footer {
    padding: 3rem 0;
    display: block;
    justify-content: space-between;
}

@media(min-width: 768px) {
    .contenedor-footer {
        display: flex;
    }
}

.copyright {
    margin: 0;
    color: #ffffff;
}


/*********************** Internas ************************/


/*********** *********** Acerca de ********************/

.tipo-acercade {
    text-align: center;
    line-height: 10rem;
    color: rgba(36, 49, 238, 0.897);
    font-weight: bold;
}

.text-acercade {
    flex: 1;
    color: #000000;
}

.color-fondowhite {
    background-color: #ffffff;
}


/*********************** Eventos ************************/


/********************** Evento ****************************/

.resumen-evento {
    display: flex;
    justify-content: space-around;
}

.icono {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
}

.iconos-caracteristicas {
    display: flex;
    list-style-type: none;
}

.mapa {
    height: 28rem;
}

@media(min-width: 768px) {
    .mapa {
        height: 35rem;
    }
}


/************************ Registro *************************/

.imagen-registro {
    background-image: url(../img/evento\ social.jpeg);
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.height10 {
    height: 10rem;
}

.seccion label {
    display: block;
    padding: 1rem 1rem 1rem 0;
}

.fieldset.seccion a {
    text-decoration: none;
}