# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

*.jpg
/topsecret

############################laravel################################
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


##############################vuejs#################################
node_modules
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
lerna-debug.log
npm-debug.log.*
yarn-debug.log.*
yarn-error.log.*
lerna-debug.log.*
lib
.idea
.vscode
examples/element-ui
examples/pages/en-US
examples/pages/zh-CN
examples/pages/es
examples/pages/fr-FR
fe.element/element-ui
.npmrc
coverage
waiter.config.js
build/bin/algolia-key.js
.envrc

#############################Arduino##############################
## OS specific ########
.DS_Store
.fuse_hidden*

## Compilation artefacts ########
*.pyc
*.d
*.o
*.gcno
*.gcda

## Project files ######
.platformio
.pio
.clang_complete
.gcc-flags.json
.cache
data
unpacked_fs
tasmota/user_config_override.h
build
build_output
firmware.map
firmware.asm
tasmota/tasmota.ino.cpp
tasmota*.bin
tasmota*.bin.gz
tasmota*.map
platformio_override.ini
platformio_tasmota_cenv.ini

## Visual Studio Code specific ######
.vscode
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
*.bak
*.code-workspace

###########################TryGhost################################
# Node template

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# IDE
.idea/*
*.iml
*.sublime-*
.vscode/*

# OSX
.DS_Store

# Custom ignore starts here

b-cov
*.csv
*.dat
*.out
*.gz

!test/utils/fixtures/**/*.csv

results

package-lock.json
bower_components
.bowerrc
projectFilesBackup

# TernJS
.tern-project

# Ghost DB file
*.db
*.db-journal

.build
.dist
.tmp

/core/server/data/export/exported*
/content/tmp/*
/content/data/*
/content/logs/*
/content/settings/*
/content/apps/**/*
/content/themes/**/*
/content/images/**/*
/content/adapters/storage/**/*
/content/adapters/scheduling/**/*
!/content/themes/casper
!/README.md
!/content/**/README.md

# Changelog, which is autogenerated, not committed
CHANGELOG.md

# Test generated files
test/functional/*.png
test/coverage

# ignore all custom json files for config
/config.*.json

# Built asset files
/core/built
/core/server/web/admin/views/*.html
!/core/server/web/admin/views/preview.html
/core/server/public/ghost.min.css

# Caddyfile - for local development with ssl + caddy
Caddyfile
